body {
}

div {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-style: italic;
    color: #333;
    font-weight: bold;
}

body {
    background-image: url('images/istock-bahamas.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 

