 h1{color: #1e3a8a;
font-size: 24px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
p{color: #4b5563;}
h2{font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;
color: #3b82f6;} 
h2.highlight {color: #60a5fa;}

h3{color: #1e40af;
font-family: Georgia, 'Times New Roman', Times, serif;
}
section{border: 2px solid #3b82f6; padding: 15px; margin: 15px 0; border-radius: 5px;}    
