h1{color: rgb(219, 138, 138);
font-size: 24px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
p{color: rgb(231, 187, 194);}
h2{font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(174, 172, 241);}   

h3{color: rgb(45, 43, 100);
font-family: Georgia, 'Times New Roman', Times, serif;
}   